@charset "UTF-8";
/* config */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* inicio */

body{
    position: relative;
    background-color: rgb(66, 42, 22);
    background-image: url('imagens/fundo-madeira.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
}

main{
    position: relative;
    min-height: 100vh;
}

img{
    height: 70%;
}

.positiones{
    position: absolute;
    
    top: 50%;
    left: 50%; 

    transform: translate(-50%, -50%);
}

#telinha{
    width: 30vh;
    height: 53vh;
}

.midias{
    position: absolute;
    display: inline-block;
    

    height: 65%;
    left: 96%;
}

.icones{
    display: flex;
    height: 7vh;
    margin-top: 10px;
    margin-bottom: 60px;
    border-radius: 50%;
}

.icones:hover{
    transform: scale(1.2);
    transition: 200ms;
    border: 1px solid white;
}

.icones:active{
    transform: scale(1.0);
}